<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main.MediaPipeCheck"
            android:exported="false"
            android:label="@string/title_activity_media_pipe_check"
            android:theme="@style/Theme.Capstone" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".recipick.SearchRecipick"
            android:exported="false"
            android:label="@string/title_activity_search_recipick"
            android:theme="@style/Theme.Capstone" />

        <meta-data
            android:name="com.naver.oauth.client_id"
            android:value="@string/naver_client_id" />
        <meta-data
            android:name="com.naver.oauth.client_secret"
            android:value="@string/naver_secret_id" />
        <meta-data
            android:name="com.naver.oauth.client_name"
            android:value="레시픽" />

        <activity
            android:name=".recipick.PickRecipick"
            android:exported="false"
            android:label="@string/title_activity_pick_recipick"
            android:theme="@style/Theme.Capstone" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirect_app_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.TypeDetail"
            android:exported="false"
            android:label="@string/title_activity_type_detail_screen"
            android:theme="@style/Theme.Capstone" />
        <activity
            android:name=".join.JoinActivity"
            android:exported="false"
            android:label="@string/title_activity_join"
            android:theme="@style/Theme.Capstone" />
        <activity
            android:name=".join.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Capstone"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Capstone" />
    </application>

</manifest>